@media only screen and (min-width: 1200px) {
	.second-block {
		width: 712px;

    .first {
      margin-bottom: 25px;

      &:after {
        font-size: 156px;
        position: absolute;
        top: 350px;
        left: -100px;
      }

      &__questions {
        margin-right: 105px;
      }

      &__img {
      }

      &__title {
        font-size: 30px;
        width: 280px;
        position: absolute;
        right: 75px;
        bottom: 5px;

        &:before {
          content: "\2014";
          position: absolute;
          left: 0;
          top: -15px;
        }

        &_min {
          font-size: 11px;
          margin-left: 35px;
        }
      }
    }

    .second {
      display: flex;
      position: relative;

      &__title {
        font-size: 17px;
        width: 25%;
      }

      &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 75%;
      }

      &__list-items {
        width: 30%;
        margin-right: 15px;
        margin-bottom: 25px;
      }

      &__go {
        font-size: 10px;
        width: 150px;
        position: absolute;
        right: 32px;
        bottom: 0px;
      }
    }
	}
}