@media only screen and (min-width: 768px) {
	.second-block {
    width: 640px;
    margin: auto;
    padding: 112px 0 0;

    .first {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 66px;

      &:after {
        font-size: 140px;
        position: absolute;
        top: 280px;
        left: -80px;
      }

      &__questions {
        font-size: 9px;
        width: 206px;
        margin-right: 100px;
      }

      &__img-block {
        height: 240px;
        width: 260px;
      }

      &__img {
        height: 110%;
        width: 175%;
        position: relative;
        top: -25px;
        left: -120px;
      }

      &__title {
        width: 224px;
        font-size: 27px;
        position: absolute;
        right: 80px;
        bottom: 5px;

        &:before {
          content: "\2014";
          position: absolute;
          left: 0;
          top: -15px;
        }

        &_min {
          font-size: 10px;
          width: 110px;
          margin-left: 25px;

        }
      }
    }

    .second {

      &__title {
        font-size: 17px;
      }

      &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }

      &__list-items {
        width: 22%;
        font-size: 8px;

        &:before {
          content: '';
          width: 0;
          height: 0;
        }
      }

      &__list-bold {

      }

      &__go {
        //position: absolute;
        width: 210px;
        margin: 0 0 0 auto;
        text-align: left;
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
}