.nineth-block {
	width: 100%;
	padding: 0 10px 22px;

	.info {
		padding-top: 10px;
		width: 63%;
		margin: 0 auto 30px;
		position: relative;

		&__bcg {
			position: absolute;
			font-weight: 800;
			color: $f-grey-light;
			z-index: -1;

			&-num {
				position: absolute;
				left: -30px;
				top: 0;
				font-size: 139px;
				line-height: 1;
			}

			&-text {
				position: absolute;
				left: 15px;
				top: 47px;
				display: inline-block;
				font-size: 48px;
				line-height: 1;
				transform: rotate(90deg);
			}
		}

		&__heading {
			display: block;
			width: 82%;
			margin: auto;
			font-size: 12px;
			font-weight: 800;
			color: $f-black;
			text-transform: uppercase;
			margin-bottom: 13px;			
		}

		&__text {
			position: relative;
			font-size: 9px;
			font-weight: 500;

			&:before {
				content: '\2014';
				position: absolute;
				left: -30px;
				top: 4px;
				line-height: 0;
				font-size: 28px;
				font-weight: 800;
			}
		}
	}

	.list {
		width: 78%;
		margin: 0 auto 0 17%;
		overflow-x: hidden;

		&__item {
			position: relative;
			padding-left: 36px;
			margin: auto;
			margin-bottom: 22px;
		}	
		
		&__count {
			position: absolute;
			left: -6px;
			top: 6px;
			line-height: 6px;
			font-weight: 800;

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: -15px;
				width: 8px;
				height: 8px;
				background-color: $blue;
			}
		}

		&__heading {
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 800;
		}

		&__text {
			font-size: 9px;
			margin-top: 10px;
		}
	}

	.quote {
		width: 78%;
		margin: auto;
		font-size: 10px;
		color: $orange;
		font-weight: 500;

		&__text {
			position: relative;

			&:before {
				content: '/';
				position: absolute;
				left: -15px;
				font-size: 20px;
				color: $f-black;
			}
		}
	}
}