@media only screen and (min-width:480px) {
    .fourteenth-block {
        
        &__block-img {
            width: 220px;
        }

        &__container-img {
            background-position: 150px 20px;
        }

        &__paragraph {
            font-size: 14px;
            margin: 40px auto 15px;
                
            &::before{
                top: -2px;
                font-weight: 800;
            }
        }

        &__title {
            font-size: 18px;
            width: 80%;
        }

        &__s-title {
            font-size: 14px;
        }

        &__s-block {
            margin: 0 auto 0 10%;
        }

        &__s-paragraph {
            font-size: 13px;
            width: 270px;
            /*border: 1px solid green;*/
            padding-left: 30px;
            margin: 0 auto 55px;

            &::before {
                left: 5px;
                top: 7px;
                font-size: 34px;
                font-weight: 800;
            }
        }

        &__dark-text {
            font-size: 18px;
        }

        &__list-item {
            padding-left: 65px;

            &:before{
                font-size: 9px;
                top: 10px;
            }
        }

        &__list-paragraph,
        &__list-title {
            font-size: 14px;
        }
    }
}