{
  "rules": {
    "block-no-empty": true,
    "declaration-colon-space-after": "always",
    "declaration-no-important": true,
    "max-empty-lines": 2,
    "rule-empty-line-before": "always",
    "indentation": "tab",
    "string-quotes": "single",
    "unit-whitelist": ["em", "rem", "%", "px", "vh", "vw", "dpi", "dppx", "pt", "deg", "s", "ms"]
  }
}

