@media only screen and (min-width: 1400px) {
	.seventeenth-block {
		width: 850px;
		padding: 72px 0;

		.info {

			&__heading {
				font-size: 36px;
			}

			&__text {
				margin: 30px auto 48px 60px;
				font-size: 12px;
				width: 50%;

				&:before {
					font-size: 60px;
					top: 6px;
					left: -50px;
				}
			}
		}

		.list {
			
			&__item {
				padding-left: 50px;
			}

			&__count {
				font-size: 23px;
				left: -10px;
				top: 7px;

				&:after {
					width: 10px;
					height: 10px;
					bottom: -24px;
				}
			}

			&__heading {
				font-size: 12px;
			}

			&__text {
				font-size: 11px;
				margin-top: 13px;
			}
		}

		.form {
			padding: 75px;

			&__label {
				font-size: 9px;
			}

			&__input {
				margin-bottom: 22px;
				padding: 12px 0 8px;
				font-size: 11px;

				&::placeholder {
					font-size: 11px;
				}
			}

			.btn {
				width: 196px;
				padding: 15px 0;
				font-size: 9px;
			}
		}
	}
}