.seventeenth-block {
	width: 100%;
	padding: 30px 10px;

	.info {
		padding-top: 10px;
		margin: 0 auto 25px;
		text-align: center;

		&__heading {
			display: inline-block;
			font-size: 12px;
			font-weight: 800;
			text-transform: uppercase;
			margin-bottom: 15px;			
		}

		&__text {
			position: relative;
			font-size: 9px;
			font-weight: 500;
			text-align: left;
			width: 48%;
  	  margin: 0 auto 0 31%;

			&:before {
				content: '\2014';
				position: absolute;
				left: -30px;
				top: 4px;
				line-height: 0;
				font-size: 28px;
				font-weight: 800;
			}
		}
	}

	.list {
		width: 67%;
		margin: auto;
		overflow-x: hidden;
		margin-bottom: 7px;

		&__item {
			position: relative;
			padding-left: 30px;
			margin: auto;
			margin-bottom: 20px;
		}	
		
		&__count {
			position: absolute;
			left: -6px;
			top: 5px;
			font-size: 17px;
			line-height: 6px;
			font-weight: 800;

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: -17px;
				width: 8px;
				height: 8px;
				background-color: $blue;
			}
		}

		&__heading {
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 800;
		}

		&__text {
			font-size: 9px;
			margin-top: 11px;
		}
	}

	.form {
		width: 78%;
		margin: auto;
		box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15);
		padding: 44px;

		&__label {
			position: relative;
			bottom: -10px;
			font-size: 5px;
			color: $f-black;
		}

		&__input {
			width: 100%;
			border: none;
			border-bottom: 1px solid #bfbfbf;
			font-size: 6px;
			text-transform: uppercase;
			padding-bottom: 4px;
			outline: 1px solid transparent;

			&::placeholder {
				font-size: 6px;
				font-weight: 800;
				color: $f-black;
				text-transform: uppercase;
			}
		}
		.btn {
			@include button (116px, 9px, 5px);
			display: block;
			margin: 20px auto 0 0;
		}
	}
}