@media only screen and (min-width: 1400px) {
	.eight-block {
		width: 850px;

    .first-container {
      &__img-block {
        width: 405px;
      }

      &__img {
        width: 368px;
      }

      &__description {
        width: 405px;
      }

      &__title {
        width: 370px;
        font-size: 36px;
        margin-bottom: 27px;
      }

      &__text {
        width: 240px;
        font-size: 12px;
        margin-left: 50px;

        &:before {
          content: "\2014";
          position: absolute;
          left: -50px;
          top: -23px;
          font-size: 40px;
          font-weight: 900
        }
      }
    }

    .second-container {

      &__title-min {
        font-size: 12px;
        font-weight: 900;
        margin: 25px 0 15px 0;

        &:before {
          content: '';
          width: 9px;
          height: 9px;
          position: absolute;
          left: 0;
          top: -35px;
        }
      }

      &__text {
        width: 280px;
        font-size: 11px;
      }

    }
	}
}