@media only screen and (min-width: 480px) {

  .eight-block {
    width: 100%;
    padding: 30px 10px 35px;

    .first-container {

      &__img {
        width: 280px;
      }

      &__description {
        display: flex;
        flex-direction: column;
        width: 69%;
        margin: 0 auto;
      }

      &__title {
        width: 180px;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
      }

      &__text {
        position: relative;
        font-size: 13px;
        margin-left: 30px;

        &:before {
          content: "\2014";
          position: absolute;
          left: -30px;
          top: 8px;
          font-size: 28px;
        }

      }
    }

    .second-container {
      margin-top: 25px;

      &__img {
        display: block;
        width: 100%;
        height: 195px;
        object-fit: cover;
        padding: 0 9px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        width: 69%;
        margin: 0 auto;
      }

      &__list-item {

      }

      &__title-min {
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 25px 0 15px 20px;
        position: relative;

        &:before {
          content: "";
          width: 6px;
          height: 6px;
          position: absolute;
          left: -20px;
          top: 8px;

        }
      }

      &__text {
        font-size: 14px;

      }
    }

  }
}