@media only screen and (min-width:1200px) {
    .seventh-block {
        width: 712px;
        padding: 0;

        &__container-f-img {
            flex-basis: 45%;
        }

        &__title {
            font-size: 30px;
        }

        &__paragraph {
            font-size: 10px;
        }

        &__container-s-img {
            width: 305px;
        }

        &__f-text-title,
        &__s-text-title,
        &__s-block-f-paragraph {
            font-size: 10px;
        }

        &__s-block-s-paragraph {
            font-size: 9px;
        }
    }
}