@media only screen and (min-width: 1200px) {

  .header {
    padding: 25px 38px;

    &__navigation {
      width: 100%;
    }

    &__logo {
      height: 19px;
      width: 63px;
    }

    &__button-menu {

    }

    &__svg {

      &_path {

      }
    }

    &__info {
      display: flex;
      justify-content: space-around;
      //width: 718px;
      //margin: 0 auto;
    }

    &__bg-text {
      font-size: 262px;
    }

    .header__bg-img {
    }

    &__title {
      width: 450px;

    }

    &__title-main {
      font-size: 56px;
    }

    &__description {
      font-size: 10px;
      width: 220px;

      &:before {

      }

      &:after {
      }
    }

    &__text {
      width: 190px;
    }

    &__slogan {
      font-size: 13px;
    }

    &__text-min {
      font-size: 11px;
    }

    &__button-buy {
      @include button(138px, 14px, 8px);
      position: relative;
      right: 278px;
    }

    &__end {
      width: 100%;
    }

    &__numbers {
    }

    &__count {

      &_first {

      }
      &_second {

      }
    }

    &__social {
      position: relative;
      bottom: 0;
      right: 0;
    }

    &__svg-fb {
      &_path {
      }
    }

    &__svg-tw {

      &_path {

      }
    }
  }
}
