@media only screen and (min-width: 960px) {

  .header {
    padding: 0 80px 25px;

    &__navigation {
      padding: 25px 0 51px;
      width: 800px;
    }

    &__logo {
      height: 22px;
      width: 71px;
    }

    &__button-menu {

    }

    &__svg {

      &_path {

      }
    }

    &__info {
      width: 800px;
      margin: 0 auto;
      //width: 960px;
    }

    &__bg-text {
      font-size: 294px;
    }

    .header__bg-img {
      display: block;
      width: 567px;
      height: auto;
      position: absolute;
      top: -28px;
      right: 10px;
    }

    &__title {
      width: 450px;

    }

    &__title-main {
      font-size: 56px;
    }

    &__description {
      font-size: 10px;
      width: 220px;

      &:before {

      }

      &:after {
        position: absolute;
        top: 40px;
        right: -25px;
      }
    }

    &__text {
      width: 190px;
    }

    &__slogan {
      font-size: 13px;
    }

    &__text-min {
      width: 150px;
      font-size: 11px;
    }

    &__button-buy {
      @include button(138px, 14px, 8px);
      position: relative;
      right: 222px;
    }

    &__end {
      width: 800px;
    }

    &__numbers {

    }

    &__count {

      &_first {
        font-size: 17px;
      }
      &_second {
        font-size: 10px;
      }
    }

    &__social {
      position: absolute;
      bottom: 123px;
      right: 10px;
      z-index: 4;
    }

    &__svg-fb {
      height: 15px;
      &_path {
      }
    }

    &__svg-tw {
      height: 15px;
      &_path {

      }
    }
  }

  .span {
    position: relative;
    left: -100px;
  }
}
