@media only screen and (min-width: 768px) {

  .header {
    padding: 21px 64px 30px;
    overflow: hidden;

    &__navigation {
      padding-bottom: 51px;
      width: 640px;
      display: flex;
      margin: 0 auto;
    }

    &__logo {
      width: 57px;
      height: 18px;

    }

    &__button-menu {

    }

    &__svg {
      //height: 9px;
      //width: 13px;

      &_path {

      }
    }

    &__info {
      position: relative;
      height: auto;
      width: 640px;
      margin: 0 auto;
      //width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__bg-text {
      font-size: 236px;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .header__bg-img {
      display: block;
      width: 435px;
      position: absolute;
      bottom: -310px;
      right: 13px;
    }

    &__title {
      width: 360px;
      z-index: 3;
    }

    &__title-main {
      font-size: 45px;
      padding: 0;
    }

    &__description {
      font-size: 8px;
      width: 176px;
      text-align: left;
      padding: 0;
      margin: 23px auto 23px 67px;

      &:before {
        font-size: 14px;
        position: absolute;
        top: -2px;
        left: -20px;
      }

      &:after {
        font-size: 14px;
        position: absolute;
        top: 22px;
        right: -25px;
      }
    }

    &__text {
      width: 145px;
      padding: 0;
      line-height: 1.5;
    }

    &__slogan {
      font-size: 10px;
      margin-bottom: 25px;
    }

    &__text-min {
      font-size: 9px;
    }

    &__button-buy {
      @include button(110px, 10px, 6px);
      position: relative;
      right: 198px;
    }

    &__end {
      width: 640px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-top: 30px;
    }

    &__numbers {
      color: $f-grey;
      position: relative;
      left: -20px;
    }

    &__count {
      font-family: $main-font;

      &_first {
        display: block;
        transform: rotate(-90deg);
        font-size: 14px;
        font-weight: 800;
      }
      &_second {
        display: block;
        margin-left: 40px;
        font-size: 8px;
        font-weight: 400;
      }
    }

    &__social {
      position: absolute;
      bottom: 110px;
      right: 10px;
      z-index: 5;
    }

    &__svg-fb {
      width: 10px;
      height: 10px;
      margin-right: 10px;
      cursor: pointer;
      &_path {
        fill: $f-grey
      }
    }

    &__svg-tw {
       width: 10px;
       height: 10px;
      cursor: pointer;
       &_path {
         fill: $f-grey
       }
     }
  }

  .span {
    position: relative;
    left: -80px;
  }
}
