@media only screen and (min-width: 480px) {
  .third-block {
    
    .info {
			margin: 0 auto 38px;
			padding-top: 15px;
			
			&__heading {
				font-size: 18px;
				margin-bottom: 40px;
			}

			&__text {
				font-size: 14px;

				&:before {
					top: 6px;
					left: -50px;
					font-size: 40px;
				}
			}	
		}	

    .list__heading {
      font-size: 18px;
    }
    
    .list__text {
      font-size: 13px;
    }
  }
}
