@media only screen and (min-width: 480px) {
  .third-block {
    
    .info {
			margin: 0 auto 35px;
			padding: 45px 0 0 34px;
			
			&__heading {
				font-size: 18px;
				margin-bottom: 34px;
			}

			&__text {
				font-size: 14px;

				&:before {
					top: 6px;
					left: -50px;
					font-size: 40px;
				}
			}	
		}	
		
		.list {

			&__items {
				margin-bottom: 22px;
			}

			&__heading {
				font-size: 24px;
				margin-bottom: 5px;
				
				.light-text{
	        font-size: 16px;
					margin-bottom: 16px;
	      }
	    }

	    &__text {
	      font-size: 13px;
	      margin-bottom: 15px;
			}
		}
	}
}


