@media only screen and (min-width: 960px) {
	.eleventh-block {
		width: 800px;
		padding: 50px 0;
		
		&__f-block {
			margin-bottom: 85px;
		}

		&__f-title {
			font-size: 33px;
		}

		&__f-block-paragraph {
			font-size: 11px;
			width: 230px;
		}
		
		&__container {
			justify-content: center;
			padding: 35px 0 24px;
		}

		&__abs-f-block {
			width: 55%;

			&-title {
				flex-basis: 28%;
				font-size: 11px;
			}

			&-paragraph {
				font-size: 10px;
			}
		}

		&__s-block-title {
			font-size: 11px;
		}

		&__s-block-paragraph {
			font-size: 10px;
		}

		&__info-text {
			font-size: 11px;
		}

		&__pt {
		padding-top: 30px;
		}
	}
}