@media only screen and (min-width: 1200px) {
  .fours__block {
    width: 712px;

    .img {
      background-image: url(../img/fours-block/img_1200.jpg);
      height: 312px;
    }

    .main {
      .title__first {
        font-size: 10px;
      }

      .title__text {
        line-height: 1.4;

        &-advantage {
          font-size: 9px;
          font-family: $main-font;
        }

        &-highlight {
          font-weight: 800;
          display: inline-block;
          margin-bottom: 10px;
        }

        .highlight__blue {
          background-color: $blue;
        }
      }
    }
    .advantage {
      flex-basis: 45%;

      .info {
        padding-top: 0;
        padding-left: 0;
        flex-basis: 33%;
        margin-bottom: 50px;

        &__heading {
          font-size: 30px;
        }

        &__text {
          font-size: 11px;
          margin: 0 45px;
          margin-top: 25px;

          &:before {
            left: -45px;
            top: 4px;
            font-size: 40px;
            font-weight: 800;
          }
        }
      }

      .list {

        &__heading {
          font-size: 11px;
        }

        &__text {
          font-size: 10px;
        }
      }
    }
  }
}
