@media only screen and (min-width: 480px){
    .fours__block {
        
            .img{
                background-image: url(../img/fours-block/img_480.jpg);
                height: 174px;
                margin: 50px auto 30px;
            }

            .title__first{
                font-size: 18px;
                text-transform: uppercase;
                background-color: #000;
                color: $f-white;
                display: inline;
                text-align: center;
                margin-bottom: 30px;
                font-family: $main-font;
            }
    
            .title__text{
                line-height: 1.4;
                margin-left: 10px;
    
                &-advantage{
                    font-size: 13px;
                    font-family: $main-font;
                }

                &-highlight{
                    font-weight: 800;
                    display: inline-block;
                    margin-bottom: 13px;
                    font-family: $main-font;
                }

                .highlight__blue{
                    background-color: $blue;
                }
            }

            .title__heading {
                width: 75%;
                padding-left: 23%;
            }
            
        
        .advantage{
            margin-top: 30px;
            width: 90%;
            margin: 30px auto;
    
            .info {
                margin: 0 auto 38px;
                padding-top: 15px;
                padding-left: 60px;
                
                &__heading {
                    font-size: 18px;
                    margin-bottom: 17px;
                }
    
                &__text {
                    width: 85%;
                    font-size: 14px;
                    margin-left: 30px;
    
                    &:before {
                        top: 6px;
                        left: -33px;
                        font-size: 40px;
                    }
                }	
            }	
            .list{
                margin-left: 22px;
                margin-top: 30px;

                &__items {
                    margin-bottom: 20px;
                }
    
                &__heading{
                    font-size: 14px;
                }
                &__text{
                    font-size: 14px;
    
                }
            }
        }
    }
}
