@media only screen and (min-width: 480px) {
  .sixteenth__block {
    padding: 35px 18px 25px;

    .info {
      margin: 0 auto 38px;
      padding-top: 15px;

      &__heading {
        font-size: 18px;
        margin-bottom: 40px;
      }

      &__text {
        font-size: 14px;

        &:before {
          top: 6px;
          left: -42px;
          font-size: 40px;
        }
      }
    }

    .img {
      background-image: url(../img/sixteenth-block/img1_480.jpg);
      height: 167px;
    }

    .title {
      width: 60%;
      margin: 0 auto;

      &__heading {
        font-family: $main-font;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 800;
      }

      &__text {
        font-family: $main-font;
        font-size: 14px;
        margin: 20px 0;
      }
    }

    .result {

      &__title {
        text-transform: uppercase;
        font-family: $main-font;
        font-size: 14px;
        font-weight: 600;
        margin: 20px auto;
        width: 85%;
        text-align: left;
      }

      .list {
        margin: 25px auto;
        width: 65%;

        &__item {
          margin-left: 20px;
          margin-bottom: 18px;
          position: relative;

          &:before {
            font-size: 9px;
            left: -35px;
            top: 5px;
          }
        }

        .list__heading {
          font-size: 14px;
          font-weight: 800;
          font-family: $main-font;
        }

        .list__text {
          font-size: 14px;
          font-family: $main-font;
          line-height: 1.5;
        }
      }

      &__price {
        display: flex;
        justify-content: center;

        &-text {
          width: 35%;
          font-family: $main-font;
          font-size: 17px;
          font-weight: 600;

          .blue-bg {
            background-color: $blue;
          }
        }

        &-num {
          font-family: $main-font;
          font-size: 11px;

          .first-price {
            font-family: $main-font;
            font-size: 17px;
            text-decoration: line-through;
            text-transform: uppercase;
          }
          
          .second-price {
            font-size: 19px;
          }
        }
      }
    }
  }
}
