@media only screen and (min-width: 768px) {
  .sixteenth__block {
    width: 640px;
    margin: auto;
    padding: 75px 0 55px;
    
    .section1 {
      display: flex;
      flex-direction: row-reverse;

      .info {
        padding-top: 0;
        padding-left: 0;
        flex-basis: 33%;

        &__heading {
          font-size: 27px;
          margin-bottom: 35px;
        }

        &__text {
          font-size: 9px;
          margin: 0 45px;
          left: 0;

          &:before {
            left: -45px;
            top: 4px;
            font-size: 40px;
            font-weight: 800;
          }
        }
      }

      .img {
        background-image: url(../img/sixteenth-block/img1_768.jpg);
        height: 169px;
        margin: 0 0;
        flex-basis: 40%;
      }
    }
    .about {
      display: flex;

      .title {
        width: 50%;
        margin-top: 7%;

        .box__text {
          display: flex;
          margin-bottom: 25px;

          .title__heading {
            font-family: $main-font;
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 800;
            margin-right: 20px;
            width: 115%;
          }

          .title__text {
            font-family: $main-font;
            font-size: 8px;
            margin: 0;
          }
        }
      }

      &__img {
        background-image: url(../img/sixteenth-block/img2_768.jpg);
        height: 203px;
        background-repeat: no-repeat;
        background-position: 50%;
        width: 65%;
      }
    }

    .result {
      display: flex;
      position: relative;
      margin-top: 40px;

      &__title {
        text-transform: uppercase;
        font-family: $main-font;
        font-size: 9px;
        font-weight: 600;
        margin: 20px 0;
        width: 18%;
        text-align: left;
      }

      .list {
        width: 80%;
        display: flex;
        flex-flow: row wrap;

        &__item {
          margin-left: 30px;
          margin-bottom: 18px;
          position: relative;
          flex-basis: 27%;

          &:before {
            font-size: 7px;
            left: -30px;
            top: 5px;
          }
        }

        .list__heading {
          font-size: 9px;
          font-weight: 800;
          font-family: $main-font;
        }

        .list__text {
          font-size: 8px;
          font-family: $main-font;
          line-height: 1.5;
        }
      }

      &__price {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 54px;

        &-text {
          width: 35%;
          font-family: $main-font;
          font-size: 8px;
          font-weight: 600;

          .blue-bg {
            background-color: $blue;
          }
        }

        &-num {
          font-family: $main-font;
          font-size: 8px;

          .first-price {
            font-family: $main-font;
            font-size: 9px;
            text-decoration: line-through;
            text-transform: uppercase;
          }

          .second-price {
            font-size: 12px;
          }
        }
      }
    }
  }
}
