@media only screen and (min-width: 480px) {
	.fifteenth-block {
		
		.info {

			&__heading {
				font-size: 18px;
				margin-bottom: 44px;
			}
		}

		.list {

			&__item {
				padding-left: 35px;
			}

			&__count {
				font-size: 16px;
				left: -6px;
				top: 6px;

				&:after {
					width: 7px;
					height: 7px;
					bottom: -15px
				}
			}

			&__heading {
				font-size: 14px;
			}

			&__text {
				font-size: 14px;
			}
		}

		.quote {
			font-size: 14px;

			&__text {

				&:before {
					font-size: 17px;
				}
			}
		}

		.btn {
			width: 215px;
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 11px;
		}
	}
}	