@media only screen and (min-width: 480px){
    .sixth-block {

		.hard{
			display: none;
		}

      .info {
			margin: 0 auto 38px;
			padding-top: 15px;
			width: 85%;
			
			&__heading {
				font-size: 18px;
				margin-bottom: 40px;
			}

			&__text {
				font-size: 14px;
				width: 75%;
				margin-left: 8%;

				&:before {
					top: 6px;
					left: -50px;
					font-size: 40px;
				}
			}	
		}
		
		.list {
			list-style-type: square;
			width: 73%;
			margin: 0 auto;

			&__heading {
			  font-size: 13px;
			  text-transform: uppercase;
			  font-weight: 800;
			  margin-bottom: 5px;
			  font-family: $main-font;
			}
			&__text {
			  font-size: 13px;
			  font-family: $main-font;
			  margin-bottom: 5px;
			  line-height: 1.4;
			}
		  }
    }
}