@media only screen and (min-width: 1400px) {
	.fifth-block {
		width: 850px;
		padding: 75px 0;

		.info {

			&__heading {
				font-size: 36px;
				margin-bottom: 45px;
			}

			&__text {
				font-size: 12px;
				margin: 0 55px;

				&:before {
					left: -55px;
				}
			}
		}

		.reviews {

			&__block {
				padding: 37px;
			}

			&__image {
				width: 105px;
				margin-bottom: 20px;
			}
			
			&__name {
				font-size: 11px;
			}

			&__text {
				max-height: 320px;
				font-size: 11px;
				line-height: 18px;
			}

			&__count {
				font-size: 8px;
				
				&_active {
					font-size: 14px;
				}
			}
		}		
	}
}