* {
	box-sizing: border-box;
}
body {
	font-family: $main-font;
	line-height: 1.4;
}
.text_dark {
	background-color: $f-black;
	color: $f-white;
}
.text-strong {
	font-weight: 800;
	display: block;
}
.span-14 {
	font-size: 14px;
	font-weight: 800;
}
