@media only screen and (min-width: 480px){
    .twelfth-block{
        .info {
			margin: 0 auto 38px;
			padding: 0px;
			
			&__heading {
				font-size: 18px;
                margin-top: 0;
                margin-bottom: 15px;
                width: 90%;
			}

			&__text {
                font-size: 14px;
                margin-left: 5%;
                margin-left: 0;

				&:before {
					top: 6px;
					left: -50px;
					font-size: 50px;
				}
			}	
        }
        .img{
            background-image: url(../img/twelfth-block/img_480.jpg);
            height: 260px;
            margin: 25px 0;
        }
    
        .list{
            list-style-type: square;
            margin: 0 auto;
            width: 54%;
    
            &__heading{
                font-size: 13px;
                font-weight: 800;
                margin-top: 30px;
            }
            &__text{
                font-size: 13px;
            }
    
        }
    }
}